{% extends "common/layout.html" %}
{% block title %}管理控制台{% endblock %}
{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block body %}
    {% if working==False %}
        <h2 style="text-align: center">等待中客户</h2>
        <table id="business" lay-filter="business"></table>
        <div style="padding: 30px;margin: 0 auto;width: 40%">
            <button class="layui-btn layui-btn-lg" id="accept-button" style="width: 100%">接号</button>
        </div>
    {% else %}
        <div style="padding: 30px;margin: 0 auto;width: 40%">
        <h1 style="text-align: center;padding-bottom: 50px;padding-top: 40px">服务中</h1>
        <h2 style="text-align: center;padding-bottom: 50px">当前用户：{{ guest_name }}</h2>
            <button class="layui-btn layui-btn-lg" id="finish-button" style="width: 100%">结束本次叫号</button>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}